
/*Layout Smartphone*/
@media all and (max-width: 670px) {

p, li, td {
	font-size: 8px;
}

#rectangle_id {
	width: 70px;
}

#rectangle_id_level {
	width: 65px;
}

#rectangle_eng {
	width: 70px;
}

#rectangle_eng_level {
	width: 50px;
}

}